<router-outlet></router-outlet>

<div class="container noselect">
  <div class="stream">
    <img src="/api/stream">
    <!-- <img src="https://dummyimage.com/600x400/444/000"> -->
  </div>
  <div class="zone">
    <div class="joystick left">
      <ngx-joystick #semiJoystick [options]="semiOptions" (move)="onMotorMove($event)" (end)="onMotorEnd($event)">
      </ngx-joystick>
    </div>
    <div class="joystick right">
      <ngx-joystick #semiJoystick [options]="semiOptions" (move)="onSteerMove($event)" (end)="onSteerEnd($event)">
      </ngx-joystick>
    </div>
  </div>
  <div *ngIf="semiOutputData" class="zone-absolute">
    <div>frontXPos: {{ semiOutputData.instance.frontPosition.x | number:'2.5-5'}}</div>
    <div>frontYPos: {{ semiOutputData.instance.frontPosition.y | number:'2.5-5'}}</div>
    <div>direction: {{ semiOutputData.direction ? semiOutputData.direction.angle : ''}}</div>
    <div>distance: {{ semiOutputData.distance }}</div>
    <div>worker ready: {{directionService.isWorkerReady}}</div>
    <div>speed: {{directionService.lastDirection.speed}}</div>
    <div>diff: {{directionService.lastDirection.diff}}</div>
  </div>
</div>

<div class="btn-container">
  <span [ngClass]="{'rec': recStatus}">{{getRecStatusText()}}</span>
  <button *ngIf="!recStatus" (click)="onClickRecBtn()">Start Rec</button>
  <button *ngIf="recStatus" (click)="onClickRecBtn()">Stop Rec</button>
  <button (click)="onClickScreenBtn()">Toggle Fullscreen</button>
</div>